[run]
source = automated_security_helper

[report]
# Show missing lines in reports
show_missing = True
# Fail if total coverage is below 64%
fail_under = 64

[html]
directory = test-results/coverage_html
title = ASH Coverage Report

[xml]
output = test-results/pytest.coverage.xml

[json]
output = test-results/pytest.coverage.json
pretty_print = True

[paths]
source = automated_security_helper/**/*.py
