site_name: ASH - Automated Security Helper
site_description: "Your one-stop shop for code security scanning"
site_url: "https://awslabs.github.io/automated-security-helper"
repo_name: "awslabs/automated-security-helper"
repo_url: "https://github.com/awslabs/automated-security-helper"
edit_uri: "edit/main/site/content"
copyright: "&copy; Amazon Web Services, Inc. or its affiliates. All rights reserved."
docs_dir: "docs/content"
site_dir: "public"
# use_directory_urls: true

plugins:
  - privacy:
      assets_exclude:
        - 'github.com/*/actions/workflows/*'
  - search
  - awesome-nav
  - autorefs
  - mkdocstrings
  - mermaid2

theme:
  name: material
  custom_dir: docs/overrides
  palette:
    # Palette toggle for light mode
    - scheme: dracula
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font: false
  language: en
  features:
    - navigation.instant
    - navigation.indexes
    - toc.follow
    - content.tabs.link
    - search.share
    - search.highlight
    - search.suggest
    - content.code.copy
    - content.code.annotate
    - content.code.select
  icon:
    logo: aws-logo-light
    repo: fontawesome/brands/github
  favicon: assets/images/aws-logo-light.svg

markdown_extensions:
  - admonition
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
